
*.class
*.jdb
*.cdi_javac
*.sso
ViewController/classes/.data/00000000/0000003e.jdb
*.jdb
*.jpr
deploy/ImportBBLC2_application1.ear
Model/deploy/ImportBBLC2_Model_adflibImportBBLC21.jar
ViewController/deploy/ImportBBLC2_ViewController_webapp1.war
